<section class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 sidebar">
        <div class="image-container-index">
        </div>
      </div>
      <div class="col-md-offset-3 col-md-9">
        <h1 class="index-header">Guests Index Page</h1>

        <% @guests.each do |guest| %>
          <div>
            <%= link_to "#{guest.first_name} #{guest.last_name}", guest_url(guest) %>
            <%= link_to(cl_image_tag(guest.profile_pic, :width => 200, :height => 100, :crop => :fill,
                                                        :gravity => :face, :alt => "#{guest.last_name} Head Shot"),
                                                        guest_url(guest), class: 'img-responsive') %>
            <%= guest.votes %>
          </div>
        <% end %>
      </div>
</section>
